USE [KurumsalDBYeni]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Eposta] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Yetki] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blog]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](max) NULL,
	[Icerik] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
	[KategoriId] [int] NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hakkimizda]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizda](
	[HakkimizdaId] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Hakkimizda] PRIMARY KEY CLUSTERED 
(
	[HakkimizdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hizmet]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hizmet](
	[HizmetId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hizmet] PRIMARY KEY CLUSTERED 
(
	[HizmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[IletisimId] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Telefon] [nvarchar](250) NULL,
	[Fax] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Whatsapp] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Iletisim] PRIMARY KEY CLUSTERED 
(
	[IletisimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kimlik]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kimlik](
	[KimlikId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Keywords] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[Unvan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kimlik] PRIMARY KEY CLUSTERED 
(
	[KimlikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slider]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](30) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[ResimURL] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 13.06.2020 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[YorumId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NOT NULL,
	[Eposta] [nvarchar](max) NULL,
	[İcerik] [nvarchar](max) NULL,
	[BlogId] [int] NULL,
	[Onay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yorum] PRIMARY KEY CLUSTERED 
(
	[YorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (1, N'admin@admin.com', N'E10ADC3949BA59ABBE56E057F20F883E', N'admin')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (2, N'kurumsal@gmail.com', N'827CCB0EEA8A706C4C34A16891F84E7B', N'Admin')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (4, N'kubrakosee34@gmail.com', N'EEF480CCE4D6D3ADEAF2A31FE0F1E909', N'Editör')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogId], [Baslik], [Icerik], [ResimURL], [KategoriId]) VALUES (2, N'yeni blog', N'<p>merhbaaaaaalşakclcmşasc&ouml;as&ccedil;&ouml;şc&ouml;c.sa</p>
', N'/Uploads/Blog/f7bc646c-8d18-4537-ae7b-99d515e849f0.jpg', 1)
INSERT [dbo].[Blog] ([BlogId], [Baslik], [Icerik], [ResimURL], [KategoriId]) VALUES (4, N'Begin Form test güncel', N'<p>scsacscwc g&uuml;ncel</p>
', N'/Uploads/Blog/fe859bce-6d67-4117-b20a-7d13ec8e7a6c.jpg', 2)
SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Hakkimizda] ON 

INSERT [dbo].[Hakkimizda] ([HakkimizdaId], [Aciklama]) VALUES (1, N'<p>A&ccedil;ıklama metni <strong>eklenecek</strong></p>
')
SET IDENTITY_INSERT [dbo].[Hakkimizda] OFF
SET IDENTITY_INSERT [dbo].[Hizmet] ON 

INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (2, N'hizmet yeni', N'<p>yeni hizmetimiz başlamıştır</p>
', N'/Uploads/Hizmet/1.jpg.jpg')
INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'yeni hizmet', N'<p>a saaa</p>
', N'/Uploads/Hizmet/0a73a1ac-1f73-46b3-b7cc-c6aeb1aa5064.jpg')
SET IDENTITY_INSERT [dbo].[Hizmet] OFF
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

INSERT [dbo].[Iletisim] ([IletisimId], [Adres], [Telefon], [Fax], [Facebook], [Whatsapp], [Twitter], [Instagram]) VALUES (1, N'Sinop', N'2222222', N'222222222222222222222222', N'kuurmsal web', N'66666', N'kueum', N'kuuejk')
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (1, N'Genel', N'Genel Bilgiler')
INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (2, N'Hizmet', N'Hzimetler Hakkında')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Kimlik] ON 

INSERT [dbo].[Kimlik] ([KimlikId], [Title], [Keywords], [Description], [LogoURL], [Unvan]) VALUES (1, N'Kurumsal Web Sitesi Projesi Başlığı', N'kurumsal.web.asp.net.mvc', N'<p><strong>kurumsal</strong></p>
', N'/Uploads/Kimlik/579352-15ctfd1515601765_16718072329.png.png', N'kurumsal')
SET IDENTITY_INSERT [dbo].[Kimlik] OFF
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'merhabalarrr', N'açıklama mevcutturrr', N'/Uploads/Slider/558a6fe4-8d04-4ceb-8226-467495fb7e53.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (5, N'merhbaa 2', N'csacac', N'/Uploads/Slider/5633e132-fbdf-41c6-8825-55cbbb883fd0.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (6, N'merhaba dömmc', N'wwdq', N'/Uploads/Slider/490bd0bd-5cd7-4e61-acdf-7cf7c9781ee2.jpg')
SET IDENTITY_INSERT [dbo].[Slider] OFF
SET IDENTITY_INSERT [dbo].[Yorum] ON 

INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [İcerik], [BlogId], [Onay]) VALUES (4, N'arda lşmwqkldqşw', N'kubrakosee34@gmail.com', N'test 3', 2, 0)
INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [İcerik], [BlogId], [Onay]) VALUES (7, N'arda lşmwqkldqşw', N'kubrakosee34@gmail.com', N'', 3, 0)
INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [İcerik], [BlogId], [Onay]) VALUES (8, N'kübra ksöe', N'kubrakosee34@gmail.com', N'wec2', 3, 0)
SET IDENTITY_INSERT [dbo].[Yorum] OFF
ALTER TABLE [dbo].[Yorum] ADD  DEFAULT ((0)) FOR [Onay]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([KategoriId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId]
GO
